body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.qc-tool-title{
  grid-column: 1;
  margin-top: -30px;
  margin-left: 95px;
  font-size: 4em;
  padding-right: 20px;
  color: #9e9e9e;
  font-weight: 500;
}

/*------------------------*/

.block-5,
.block-4,
.block-3,
.block-2,
.block-1 {
  display: grid;
  grid-template-columns: 70px 720px;
}

.section-number-5,
.section-number-4,
.section-number-3,
.section-number-2,
.section-number-1 {
  grid-column: 1;
  margin-top: -15px;
  font-size: 4em;
  padding-right: 20px;
  color: #575757;
  font-weight: 500;
}

.section-content-5,
.section-content-4,
.section-content-3,
.section-content-2,
.section-content-1 {
  grid-column: 2;
  /* background-color: black; */
}

.section-content-5,
.section-content-4,
.section-content-2,
.section-content-1 {
  margin-left: 30px;
}

/*------------------------*/

vertical-line {
  margin-left: 0px;
  background-color: #535353;
  width: 0.5px;
}

.config-random-grid {
  margin-left: 0px;
  display: grid;
  grid-template-columns: 315px 5px 400px;
  grid-template-rows: auto; 
  gap: 0px;
}

.services-config-grid {
  grid-column: 1;
  display: grid;
  grid-template-columns: 20px 280px;
  grid-auto-rows: min-content; 
  align-items: start; 
  gap: 10px;
  height: auto;
  /* background-color: #8b3030; */
}


.list-bullets {
  grid-column: 1;
  /* margin-top: -10px; */
  margin-right: 5px;
  color: #797979;
  width: 20px;
  text-align: right;
}

.services-config {
  grid-column: 2;
  margin-top: -2px;
}

.random-services {
  grid-column: 3;
  padding-left: 25px;
  /* background-color: #48308b; */
}

/*------------------------*/

.all-accounts {
  margin-left: 0px;
  display: grid;
  grid-template-columns: 285px 5px 400px;
  grid-template-rows: auto; 
  gap: 0px;
}

.sf-accounts {
  grid-column: 1;
  gap: 10px;
  height: auto;
  /* background-color: #8b3030; */
}

.agent-accounts {
  grid-column: 3;
  padding-left: 25px;
  /* background-color: #48308b; */
}

/*------------------------*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  height: 0.5px;
  width: 78%;
  background-color: #464646;
}

select {
  color: #e2e2e2;
  border-radius: 10px;
  border: none;
  background-color: #464646;
}

select:hover {
  background-color: #8b3030;
}


input {
  color: #e2e2e2;
  background-color: #464646;
}

button {
  color: #e2e2e2;
  background-color: #464646;
}

input[type="checkbox"] {
  height: 11px;
  margin: 0 10px 0 0;
  color: #9b9b9b;
  background-color: #464646;
}

.custom-file-upload {
  margin-left: -10px;
  padding: 10px;
}

.custom-file-upload span,
.process-button {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #464646;
  color: #ffffff;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 14px;
  font-weight:400;
  border-radius: 10px;
}

.custom-file-upload span:hover,
.process-button:hover {
  background-color: #8b3030;
}

.custom-file-upload input[type='file'] {
  display: none;
}

#file-name {
  margin-left: 10px;
  color: #ffffff;
  background-color: transparent;
}

textarea {
  resize: none;
  overflow-y: scroll;
  overflow-x: auto;
  white-space: nowrap;
  width: 250px;
  height: 250px;
  color: #e2e2e2;
  border-radius: 10px;
  background-color: #464646;
}

tit-1 {
  color: #f3f3f3;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}


tit-2 {
  color: #f3f3f3;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

tit-2-1 {
  color: #f3f3f3;
  font-size: 1.5em;
  font-weight: bold;
  display: inline;
}

.my-uploader {
  margin-top: 15px;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #1e1e1e;
}

label {
  display: inline-block;
  margin: 5px 0;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.random-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin: 2px 0;
}

.selected_file {
  color: #adadad;
  margin-top: 15px;
  font-weight: 100;
}

select {
  margin: 0px;
  padding: 5px;
  vertical-align: top;
}