body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin-bottom: 50px;
}

.my-uploader {
  margin-top: 15px;
  display: grid;
  place-items: center;
  /* height: 100vh; */
  width: 100%;
}

.config-grid {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}

.all-accounts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sf-accounts,
.agent-accounts {
  width: 100%;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

label {
  display: inline-block;
  margin: 5px 0;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.random-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin: 2px 0;
}