body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e1e;
  color: #f0f0f0;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.block-5,
.block-4,
.block-3,
.block-2,
.block-1 {
  display: grid;
  grid-template-columns: 100px 800px;
  background-color: #6e308b;
}

.section-number-5,
.section-number-4,
.section-number-3,
.section-number-2,
.section-number-1 {
  grid-column: 1;
  margin-top: 0px;
  font-size: 90px;
  padding-right: 20px;
  color: #575757;
  font-weight: 500;
  background-color: #8b3030;
}

.section-content-5,
.section-content-4,
.section-content-3,
.section-content-2,
.section-content-1 {
  grid-column: 2;
  /* background-color: #608b30; */
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.config-random-grid {
  display: grid;
  margin-left: 0px;
  grid-template-columns: auto 3px auto;
}

.config-grid {
  grid-column: 1;
  display: grid;
  grid-template-columns: 20px auto;
  margin-left: 5px;
  gap: 10px;
  justify-items: left;
}

.list-bullets {
  grid-column: 2;
  margin-right: 5px;
  color: #797979;
  width: 20px;
  display: inline-block;
  text-align: right;
}

/* vertical-line {
  grid-column: 2;
  margin-right: 15px;
  background-color: #363636;
  width: 1px;
  height: auto;
} */

.random-services {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.all-accounts-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.sf-accounts,
.agent-accounts {
  width: 100%;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
  height: 1px;
  background-color: #464646;
}

select {
  color: #e2e2e2;
  background-color: #464646;
}

input {
  color: #e2e2e2;
  background-color: #464646;
}

button {
  color: #e2e2e2;
  background-color: #464646;
}

input[type="checkbox"] {
  height: 11px;
  margin: 0 10px 0 0;
  color: #9b9b9b;
  background-color: #464646;
}

.custom-file-upload {
  margin-left: -10px;
  padding: 10px;
}

.custom-file-upload span,
.process-button {
  padding: 10px;
  background-color: #464646;
  color: #ffffff;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}

.custom-file-upload span:hover,
.process-button:hover {
  background-color: #8b3030;
}

.custom-file-upload input[type='file'] {
  display: none;
}

#file-name {
  margin-left: 10px;
  color: #ffffff;
  background-color: transparent;
}

textarea {
  color: #e2e2e2;
  background-color: #464646;
}

tit-1 {
  color: #f3f3f3;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}


tit-2 {
  color: #f3f3f3;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

tit-2-1 {
  color: #f3f3f3;
  font-size: 1.5em;
  font-weight: bold;
  display: inline;
}

.my-uploader {
  margin-top: 15px;
  display: grid;
  place-items: center;
  width: 100%;
  background-color: #1e1e1e;
}

label {
  display: inline-block;
  margin: 0px 0;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove_bold {
  margin-top: 15px;
  font-weight: 100;
}